.container {
  display: flex;
  height: 100%;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}

.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position: relative;
  overflow-y: auto;
  margin: auto;
}

.cards::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.pagination {
  button {
    color: rgb(255, 255, 255) !important;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 240px;
  border-radius: 1rem;
  margin: 6px;
  background-color: rgb(51, 54, 56);
  box-shadow: 3px 3px 8px rgb(0, 0, 0, 27%);
  text-transform: capitalize;
  transition: all 0.5s;
  text-shadow: 1px 1px 1px rgb(0, 0, 0); 
}

.card:hover, .card:active, .card:focus {
  transform: translateY(-3px);
}

.image {
  margin: auto auto 0.5rem;
}

.level {
  background-color: gray;
  width: 75%;
  height: 1.3rem;
  border-radius: 4px;
  margin: auto;
  position: relative;

  .baby, .max, .legendary, .mythical {
    position: absolute;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    border-radius: 4px;
  }

  .baby {
    background-color: rgb(46, 145, 175);
  }

  .max {
    width: 100%;
    background-color: rgb(46, 145, 175);
  }

  .legendary {
    width: 100%;
    background-color: rgb(39, 104, 139);
  }

  .mythical {
    width: 100%;
    background-color: rgb(153, 39, 39);
  }
}

.types {
  display: flex;
  justify-content: center;
  margin: auto;
}

.type {
  width: fit-content;
  margin: auto 0.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
}

.name {
  margin: auto auto 0.5rem;
}

.decks {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;
  width: calc(25% - 2rem);
}

.decks:before {
  content: "";
  border: 1px solid rgb(70, 70, 70);
  position: absolute;
  height: calc(100% - 1rem);
  top: 0.5rem;
  left: -1rem;
}

.title {
  margin: 0 auto;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  background-color: rgb(51, 54, 56);
  width: 90%;
  height: 80px;
}