.container {
  display: flex;
  height: 100%;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}

.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-y: auto;
  margin: auto;
}

.cards::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.pagination {
  button {
    color: rgb(255, 255, 255) !important;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 240px;
  border-radius: 1rem;
  margin: 6px;
  background-color: rgb(51, 54, 56);
  box-shadow: 3px 3px 8px rgb(0, 0, 0, 27%);
  text-transform: capitalize;
  transition: all 0.25s;
  text-shadow: 1px 1px 1px rgb(0, 0, 0); 

  .addToDeck, .removeFromDeck {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    padding: 0.25rem;
  }

  .removeFromDeck {
    left: 5%;
    background-color: rgb(180, 56, 56);
    text-transform: none;
  }
  
  .addToDeck {
    right: 5%;
    background-color: rgba(6, 114, 177, 0.9);
  }
}

.card:hover, .card:active, .card:focus {
  background-color: rgb(59, 64, 66);

  .image {
    filter: brightness(110%);
  }
}

.image {
  margin: auto auto 0.5rem;
  transition: filter 0.25s;
}

.name {
  margin: auto auto 0.5rem;
}

.decks {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;
  width: calc(25% - 2rem);
}

.decks:before {
  content: "";
  border: 1px solid rgb(70, 70, 70);
  position: absolute;
  height: calc(100% - 1rem);
  top: 0.5rem;
  left: -1rem;
}

.title {
  margin: 0 auto;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  background-color: rgb(51, 54, 56);
  width: 90%;
  height: 80px;
  cursor: pointer;
}