@import '../../styles/constants.scss';

.container {
  display: flex;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $slate-800;
  color: white;
}

.heroWallpaper {
  z-index: 5;
}

.mainRow {
  display: flex;
  height: min(100%, 860px);
  width: min(100%, 1840px);
  margin: auto;
  padding: 0rem 2rem;
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 8px;
  background-color: rgba($slate-900, 0.6);
  box-shadow: 0px 0px 8px rgba($slate-50, 0.5);
  z-index: 6;
  padding: 0.5rem;
}

.leftColumn {
  margin: 0 1rem 0 0;
}

.rightColumn {
  margin: 0 0 0 1rem;
}

.heroHeader {
  margin: 1rem auto 0px;
}

.heroText {
  margin: 0 auto;
  padding: 0.5rem;
}

.heroFooter {
  margin: auto 0.5rem 0.5rem;
  padding: 0.5rem;
}

.signUpLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px auto;
}

.accountInput {
  width: 100%;
  padding: 0.5rem 4px;
  margin: 4px auto 8px;
  font-size: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.signUpLoginText {
  color: rgb(18, 145, 219);
  cursor: pointer;
  text-decoration: underline;
}

.email {
  width: fit-content;
  background-color: rgba(6, 114, 177, 0.9) !important;
}

.google {
  width: min(270px, 100%);  
  margin: 0.5rem 0.5rem 0.5rem auto !important;
  background-color: rgba(43, 128, 64, 0.9) !important;
}

.facebook {
  width: min(270px, 100%);  
  margin: 0.5rem auto 0.5rem 0.5rem !important;
  background-color: rgba(66, 103, 178, 0.9) !important;
}

.loginText {
  margin: auto auto auto 4px;
}

.orText {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  display: inline-block;
}

.orText:before {
  content: "";
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  width: 47%;
  top: 8px;
  left: 2px;
}

.orText:after {
  content: "";
  border: 1px solid rgb(255, 255, 255);
  width: 47%;
  position: absolute;
  top: 8px;
  right: 2px;
}