$emerald-400: #34D399;
$emerald-500: #10B981;
$emerald-600: #059669;
$emerald-700: #047857;

$teal-400: #2DD4BF;
$teal-500: #14B8A6;
$teal-600: #0D9488;
$teal-700: #0F766E;

$green-400: #4ADE80;
$green-500: #22C55E;
$green-600: #16A34A;
$green-700: #15803D;

$cyan-400: #22D3EE;
$cyan-500: #06B6D4;
$cyan-600: #0891B2;
$cyan-700: #0E7490;

$sky-400: #38BDF8;
$sky-500: #0EA5E9;
$sky-600: #0284C7;
$sky-700: #0C4A6E;

$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;

$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;

$rose-400: #FB7185;
$rose-500: #F43F5E;
$rose-600: #E11D48;
$rose-700: #BE123C;

$slate-50: #F8FAFC;
$slate-400: #94A3B8;
$slate-800: #1E293B;
$slate-900: #0F172A;

$zinc-50: #FAFAFA;
$zinc-100: #F4F4F5;
$zinc-800: #27272A;
$zinc-900: #18181B; 



$primary-light: #F9F9F9;
$secondary-light: #3A3A3A;
$tertiary-light: #FFFFFF;
$slider-light: #F5F7FA;
$highlight-light: #205992;

$primary-dark: #3F4953;
$secondary-dark: #F5F7FA;
$tertiary-dark: #4C5A68;
$slider-dark: #3A3A3A;
$highlight-dark: #68C6E3;