@import './constants.scss';

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    farthest-side at top left,
    rgba(17, 49, 85, 0.2), 
    transparent 360px
  ),
  radial-gradient(
    farthest-corner at top right,
    rgba(179, 18, 18, 0.2), 
    transparent 420px
  ),
  radial-gradient(
    farthest-corner at bottom left,
    rgba(179, 18, 18, 0.2), 
    transparent 540px
  ),
  radial-gradient(
    farthest-corner at bottom right,
    rgba(50, 180, 255, 0.2), 
    transparent 600px
  );
}

.content {
  width: 85vw;
  overflow-y: auto;
}