@import 'constants.scss';

.container {
  display: flex;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: min(90%, 640px);
  height: 80%;
  margin: auto;
  padding: 1rem 1rem;
  overflow-y: auto;
}